# Cambia a: ollama, vllm, openai o anthropic
LLM_PROVIDER=llm
OLLAMA_URL=url
OLLAMA_API_KEY=key
OLLAMA_MODEL_TEXT=model
OLLAMA_MODEL_VISION=model
OLLAMA_MODEL_IS_VISION=true

VECTOR_URL=url
VECTOR_PROVIDER_URL=url
VECTOR_PROVIDER_MODEL=model

DB_NAME=name
DB_HOST=host
DB_PORT=port
DB_USER_NAME=user
DB_PASSWORD=password
DB_DATABASE=database
DB_SYNCHRONIZE=false
DB_DATASTRING=true
DB_RETRY_ATTEMPTS=10
DB_RETRY_DELAY=3000

NATS_URL=nats://nats:4222

#LLM_PROVIDER=anthropic
#ANTHROPIC_URL=https://api.anthropic.com/v1
#ANTHROPIC_API_KEY=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
#ANTHROPIC_MODEL_TEXT=claude-sonnet-4-5
#ANTHROPIC_MODEL_VISION=claude-sonnet-4-5
#ANTHROPIC_MODEL_IS_VISION=true


# Configuración vLLM (Producción)
#LLM_PROVIDER=vllm
#VLLM_URL=http://10.0.0.50
#VLLM_API_KEY=sk-mi-token-seguro
#LLM_MODEL_TEXT=meta-llama/Llama-3-8B
#LLM_MODEL_VISION=meta-llama/Llama-3-8B



# Configuración OpenAI (Opcional - Fallback)
OPENAI_API_KEY=sk-proj-XXXXXX
