# --- CONFIGURACIÓN DE RED ---
PORT=3000
NODE_ENV=production

# --- INFRAESTRUCTURA (Docker Names) ---
# Usamos el nombre del servicio definido en docker-compose.yml
NATS_URL=nats://nats:4222
OLLAMA_URL=http://ollama:11434

# --- CONFIGURACIÓN DE IA ---
# El modelo que descargamos con 'ollama pull'
#AI_MODEL=qwen2.5-coder:7b #para codigo
#AI_MODEL=dolphin-llama3 # para imagen no jala bien
AI_MODEL=llama3.1:8b

# --- MCP (Model Context Protocol) ---
# URL base para el transporte SSE si se requiere exposición externa
MCP_SSE_ENDPOINT=http://localhost:3000/mcp/sse

# --- SEGURIDAD ---
# Para habilitar CORS desde tu frontend de React
FRONTEND_URL=http://localhost:5173
